$text-color-black: #333;
$text-color-white: #f4f4f4;
$text-menu-color: #858792;

$primary-color: #252734;
$secondary-color: #2a2c39;

$mobile-sm: 320px;
$mobile-lg: 480px;
$tablet: 768px;
$home-break: 980px;
$home-flip-break: 890px;
$laptop: 1024px;
$desktop-sm: 1025px;
$desktop-lg: 1200px;
