@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

@import 'constants';
@import 'layout';
@import 'navbar';

@import 'homepage_layout';

// font-family: 'Cormorant Garamond', serif;
// font-family: 'Poppins', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 1.6rem;
  color: $text-menu-color;
  background-color: $primary-color;
  height: 100%;
}

a {
  text-decoration: none;
  color: $text-color-white;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.btn {
  outline: none;
  border: 1px rgba($color: #fff, $alpha: 0.1) solid;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 1.8rem 4.2rem;
  border-radius: 50px;
  background-color: $text-menu-color;
  color: $text-color-white;
  transition: 0.4s;
}

.btn:hover {
  background-color: $text-menu-color;
}

.btn.btn-primary {
  background-color: $primary-color;
}

.white-text {
  color: $text-color-white;
}

.grey-color {
  color: $text-menu-color;
}
